<div class="container">
    <div class="containerTitle">
        <div class="containerItems">
            <div class="itemsMenu">
                <div class="items">
                    <img src="https://www.multitrabajos.com/company/static/media/multitrabajos.aa9a19bb.svg"
                        class="imageLogo">
                    <div class="subMenus">
                        <div class="buttonsMenu">
                            <a type="link" class="buttonLink">Productos</a>
                            <a type="link" class="buttonLink">¿Por qué Multitrabajos?</a>
                            <a type="link" class="buttonLink">Soy postulante</a>
                            <a type="link" class="buttonLink">Registrarme</a>
                            <div class="buttonBorder">
                                <a class="buttonPrimary">
                                    Publicar gratis
                                </a>
                            </div>
                            <div class="buttonBorder">
                                <a class="buttonSecondary">
                                    Ingresar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>